@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

body {
    background-color: #5f4d93;
    color: #636363;
}

/* #e37682 */